

<nav class="flex flex-row bg-black text-white opacity-99 fixed w-screen z-10">
    <h1 class="text-gray-200 text-5xl p-5">PerFecT One</h1>
    <div class="ml-20 mt-5">
        <input class="w-[700px] h-[45px] text-center rounded-md text-black" type="text" placeholder="Search for Products">
        <button class="btn bg-gray-500 p-2.5 ml-3 w-32 rounded-md">Search </button>
    </div>
    <ul class="flex gap-20 text-[22px] p-5 mt-1 ml-[150px]">
        <li><a routerLink="home">Home</a></li>
        <li><a routerLink="">Seller</a></li>
        <li><a href="#">Log-in</a></li>
        <li><a routerLink="/cart">Cart({{totalItems}})</a></li>
    </ul>
  </nav>

  <!-- motion-safe:animate-pulse -->

