<!-- <p>settlement works!</p> -->

<!-- <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Delivery">
        <div>

        </div>
    </mat-tab>
    <mat-tab label="Pick-up">Content 2</mat-tab>
  </mat-tab-group> -->

  <form >
    <div class="absolute top-10 left-[30rem]">
        <div class="border-2 border-gray-400 p-5 w-[61rem] ml-10">
            <h1>Make Payment</h1>
            <div class="flex flex-row gap-5">
               <div class="border-2 border-gray-300 w-[30rem] h-[8rem] rounded-md">
                    <div class="p-5">
                        <input type="radio">
                        <label class="p-2" for="Delivery">Delivery</label>
                    </div>
                    <h1 class="pl-5 text-gray-500">We will delivery by IND Kargo</h1>
               </div>
               <div class="border-2 border-gray-300 w-[30rem] h-[8rem] rounded-md">
                    <div  class="p-5">
                        <input type="radio">
                        <label class="p-2" for="Delivery">Pick-up</label>
                    </div>
                    <h1 class="pl-5 text-gray-500">Come to our office to somewhere</h1>
               </div>
            </div>
    
            <div class="gap-7 pt-5 flex flex-row">
                <div>
                    <label for="">City*</label> <br>
                    <input class="border-2 border-gray-400 w-[28.5rem] h-[3rem] rounded-lg p-5" type="" placeholder="Tashkent">
                </div>
                <div>
                    <label for="">Area*</label> <br>
                    <input class="border-2 border-gray-400 w-[28rem] h-[3rem] rounded-lg p-5" type="" placeholder="Type here">
                </div>
                
    
            </div>
    
    
            <div class="gap-5 pt-5 flex flex-row">
                <div>
                    <label class="" for="">Street*</label> <br>
                    <input class="border-2 border-gray-400 w-[35rem] h-[3rem] rounded-lg p-5" type="" placeholder="Type here">
                </div>
                <div>
                    <label for="">Building*</label> <br>
                    <input class="border-2 border-gray-400 w-[22rem] h-[3rem] rounded-lg" type="">
                </div>
                
    
            </div>
    
            <div class="gap-8 pt-5 pb-5  flex flex-row">
                <div>
                    <label class="" for="">House*</label> <br>
                    <input class="border-2 border-gray-400 w-[18rem] h-[3rem] rounded-lg p-5" type="" placeholder="Type here">
                </div>
                <div>
                    <label for="">Postal code*</label> <br>
                    <input class="border-2 border-gray-400 w-[18rem] h-[3rem] rounded-lg" type="">
                </div>
                <div>
                    <label for="">Zip*</label> <br>
                    <input class="border-2 border-gray-400 w-[18.3rem] h-[3rem] rounded-lg" type="">
                </div>
                
    
            </div>
        </div>
        <!-- ********pay pal ******** -->
        <div class="mt-10">
            <div class="border-2 border-gray-400 w-[61rem] ml-10 border-b-0 flex flex-row">
                <div class="p-5">
                    <input type="radio">
                    <label class="ml-3" for="">Paypal</label>
                </div>
                <div>
                    <img class="ml-[47.5rem] mt-1" src="./../../../assets/Screenshot from 2023-08-21 14-24-11.png"  alt="">
                </div>
            </div>
            <div class="border-2 border-gray-400 w-[61rem] ml-10 border-b-0 flex flex-row">
                <div class="p-5">
                    <input type="radio">
                    <label class="ml-3" for="">Credit Card</label>
                </div>
                <div>
                    <img class="ml-[45rem] mt-1" src="./../../../assets/Screenshot from 2023-08-21 14-24-29.png"  alt="">
                </div>
            </div>
            <div class="border-2 border-gray-400 w-[61rem] ml-10">
                <div class="p-5">
                    <div class="bg-green-400 p-3 text-[18px] text-green-700 rounded-md">Some information or instruction</div>
                </div>
                <div class="p-5 flex flex-row gap-5">
                    <input class="h-12 border-2 border-gray-300 w-[15rem] text-center  rounded-lg" type="text" placeholder="xxxx-xxxx-xxxx-xxxx">
                    <input class="h-12 border-2 border-gray-300 w-[10rem] text-center  rounded-lg" type="month" placeholder="dd/yy">
                    <input class="h-12 border-2 border-gray-300 w-[8rem]  text-center rounded-lg"  type="text" placeholder="cvv">
                    <button class="w-24 h-[2.8rem] text-[18px]  bg-green-600 rounded-lg">Submit</button>
                </div>
            </div>
            
        </div>
      </div>
  </form>


  