<!-- <p>home works!</p> -->

    <app-header></app-header>

    <div class="p-5">
        <owl-carousel-o [options]="customOptions" >
            <ng-template carouselSlide><img class="w-screen h-[600px] mt-[90px]" src="./../../../assets/imgslide4.jpg" alt=""></ng-template>  
            <ng-template carouselSlide><img class="w-screen h-[600px] mt-[90px]" src="./../../../assets/imgslide1.jpg" alt=""></ng-template>  
            <ng-template carouselSlide><img class="w-screen h-[600px] mt-[90px]" src="./../../../assets/imgslide2.jpg" alt=""></ng-template>  
            <ng-template carouselSlide><img class="w-screen h-[600px] mt-[90px]" src="./../../../assets/imgslide3.jpg" alt=""></ng-template>  
        </owl-carousel-o>
    </div>



    <div class="grid grid-cols-4  p-10 gap-5 absolute top-[800px] ">
        <div *ngFor="let item of ourproduct" class="w-[450px] h-[550px] bg-gray-200 rounded-lg opacity-80 shadow-xl overflow-hidden">
            <img class="w-max h-[300px] mx-auto mix-blend-darken p-5 object-cover hover:scale-125" src="{{item.image}}" alt="">
            <h1 class="font-bold  pl-6 overflow-hidden truncate">{{item.title}}</h1>
            <h1 class="pl-6 ml-5">Price:  <b>{{item.price}}</b></h1>
            <h1 class="overflow-hidden truncate p-5">{{item.description}}</h1>
            <button (click)="addToCart(item)" class="bg-black text-white w-[150px] h-10 rounded-lg ml-36  hover:bg-white hover:border-2 hover:border-black hover:text-black">Add to cart</button>
        </div>
    </div> 



    <!-- ****************** our details ***************** -->

    <div class="absolute top-[235rem]">
        <button class="w-screen h-16 bg-gray-800 text-white text-center hover:bg-slate-700 hover:text-2xl">Back to top</button>
        <img src="./../../../assets/ourdetails1.png" alt="">
        <img src="./../../../assets/ourdetails2.png" alt="">
    </div>

    